{{ ansible_managed | comment }}

[Interface]
PrivateKey = {{ lookup('pipe', 'ansible-vault decrypt --output=- ' + server_params.private_key ) }}
# Address = {{ host_mask | ipaddr('network/prefix') }}
ListenPort = {{ server_params.port }}
{%- if server_params.save_config is defined -%}
SaveConfig = {{ server_params.save_config }}
{% endif %}


{% for peer in peer_params %}
[Peer]
PublicKey = {{ lookup('pipe', 'ansible-vault decrypt --output=- ' + peer.public_key ) }}
AllowedIPs = {{ peer.allowed_ips | map(attribute='address') | join(',') }}
{% if peer.preshared_key is defined %}
PresharedKey = {{ lookup('pipe', 'ansible-vault decrypt --output=- ' + peer.preshared_key ) }}
{% endif %}
{% endfor %}